@import "variables";

.benefits-block {
  width: 90%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px auto;
  padding: 50px 0;
}

.benefits {
  width: 24%;
  margin: 10px 0;
  height: 280px;
}

.benefits-box {
  position: relative;
  height: 260px;
  background: url("/files/assets/layout/Vereinigungsmenge 1.svg") center no-repeat;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
  border-radius: 10px;
/*  width: 260px;*/
  background-size: 260px;
  transition: transform .5s;
  .content {
    cursor: pointer;
    img {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
      opacity: 1;
      transition: opacity .5s;
    }
  }
  .content-hover {
   /* transform: scale(0, 0);*/
    transform: matrix(-1, 0, 0, -1, 0, 0) scale(0,0);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 17px;
    align-items: center;
    transition: transform .5s;
    h3 {
      font: normal normal 600 22px/30px "Exo 2";
      margin: 0 8px;
      text-transform: uppercase;
      color: $nordic;
    }
  }

  &:hover {
    transform: rotate(180deg);
    /*transform: matrix(-1, 0, 0, -1, 0, 0);*/
    & > .content-hover {
      transform: rotate(180deg);
     /* transform: matrix(-1, 0, 0, -1, 0, 0);*/
    }
    & > .content img {
     /* display: none;*/
      opacity: 0;
    }
  }
}
@media screen and (max-width: 1200px) {
  .benefits {
    width: 50%;
  }
}

@media screen and (max-width: 860px) {
  .benefits-block {
    margin-bottom: 0;
    .benefits {
      margin: 0 auto;
      width: 100%;
      .benefits-box {
        display: flex;
        width: 225px;
        background-size: auto;
        margin: 10px auto;
        flex-wrap: wrap;
        align-items: center;
        .content {
          img {
            margin: 0 auto;
            display: flex;
            transform: translateY(0);
            top: 0;
           /* padding: 50px 0 0;*/
            width: 80px;
            cursor: default;
          }
        }
        .content-hover {
          transform: none;
          display: block;
          padding: 0 0;
          height: auto;
          position: relative;
          h3 {
            /*margin: 0 0;*/
            margin: -14px 0 0;
            font: normal normal 600 18px/28px "Exo 2";
          }
        }
      }
    /*  &:last-child > .benefits-box .content img, &:nth-last-child(2) > .benefits-box .content img, {
        width: 60px;
      }*/
    }
  }
}

