@import "variables";

body {
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}

h2 {
  font: normal normal 200 35px/54px "Exo 2";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#header .inside, .footer-top-blau, .privacy  {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.application {
  position: relative;
  z-index: 20;
  overflow: visible;
  margin-top: -145px;
  .border-raduis {
    background: #012932;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 50%;
    border: 20px solid #012932;
    .teams-icon {
      color: white;
      transition: color 250ms;
      &:hover {
        color: $lawngreen;
      }
    }
  }
}

.spacing .application {
  margin-top: 0;
}

.teaser .ce_accordionStart.ce_accordion .accordion.ui-accordion-content p,
.privacy .widget-submit {
    a, .submit  {
      font: normal normal 600 22px/27px "Exo 2";
      text-transform: uppercase;
      display: initial;
      padding: 10px 30px;
      border-radius: 30px;
      color: #002B36;
      transition: all .3s;
      position: relative;
      border: 2px solid;
      z-index: 1;
      &:after {
        width: 100%;
        background-color: transparent;
        z-index: -2;
      }
      &:before {
        width: 0;
        background-color: #032b37;
        transition: all .3s;
        z-index: -1;
      }
      &:after, &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        border-radius: 30px;
      }
      &:hover {
        color: $lawngreen;
        &:before {
          width: 100%;
        }
      }
    }
}

#progress {
  position: fixed;
  bottom: 75px;
  right: 30px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 105;
}

#progress-value {
  height: calc(100% - 7px);
  width: calc(100% - 6px);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  img {
    width: 30px;
    transition: filter 250ms;
  }
}

@media screen and (max-width: 1600px) {
  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .application {
    margin-top: -50px;
    .border-raduis {
      border: 8px solid #012932;
      /*img {
        width: 70px;
      }*/
      .teams-icon {
        width: 85px;
        height: 85px;
      }
    }
  }
  #progress {
    bottom: 25px;
    height: 60px;
    width: 60px;
    transform: translateX(50%);
  }
}
