@import "variables";

.inner {
  .menu_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: 400px;
    align-items: center;
    position: relative;
    .menu_left {
      background: url("/files/assets/layout/Logo_bg.svg") center top no-repeat;
      width: 455px;
      height: 361px;
      top: 0;
      position: absolute;
      .header-logo {
        display: flex;
        align-content: center;
        align-items: center;
        margin: 0 auto;
        transform: translateY(-50%);
        top: 50%;
        position: relative;
        .image_container {
          display: flex;
          align-items: center;
          margin: 0 auto;
          img {
            width: 280px;
          }
        }
      }
    }
    .menu-close {
      right: 0;
      position: absolute;
    }
  }
}

.mobile_menu {
  .inner {
    background:transparent;
    .menu-Navigation {
      width: 90%;
      margin: 100px auto 0;
      .menu_block_wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-left: 448px;
      }
    }
  }
}

.menu_block_wrapper {
  .nav_left {
    width: 30%;
    .mod_navigation {
      ul {
        max-width: 350px;
        li {
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          a {
            display: block;
            width: 100%;
            color: white;
            text-transform: uppercase;
            font: normal normal 400 22px/30px "Exo 2";
          }
          &:not(:last-child) {
            border-bottom: 1px solid white;
          }
          strong.active {
            color: $lawngreen;
            text-transform: uppercase;
            display: block;
            padding: 10px 0;
            font: normal normal 400 22px/30px "Exo 2";
          }
        }
        &.level_2 {
          display: block;
          max-width: 300px;
         /* transition: dispay .3s;*/
          opacity: 0;
          transition: opacity 500ms;
          li {
            margin-bottom: 0;
          /*  padding: 10px 0 0;*/
            padding-bottom: 0;
            line-height: 0em;
            a, strong {
              text-transform: initial;
              position: relative;
              font: normal normal 400 22px/52px Segoe UI;
              padding-left: 22px;
              line-height: 0em;
              transition: color 250ms, line-height 500ms;
              &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0px;
                width: 20px;
                height: 20px;
                background: url("/files/assets/layout/Pfad 311.svg") no-repeat;
                transition: top 500ms;
              }
              &:hover {
                color: $lawngreen;
              }
            }
            strong.active {
              padding: 0 0 0 22px;
            }
            &:not(:last-child) {
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }
}

.menu_block_wrapper .nav_left .mod_navigation ul li:hover ul.level_2,
.menu_block_wrapper .nav_left  .mod_navigation ul li:focus ul.level_2{
  opacity: 1;
  line-height: 2.5em;
  a, strong {
    line-height: 2.5em;
    &:before {
      top: 18px;
    }
  }
}

.menu_block_wrapper {
  .nav_right {
    width: 67%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .ce_hyperlink {
      width: 48%;
      margin-bottom: 20px;
      .hyperlink_img {
        position: relative;
        transition: .3s;
        height: 100%;
        display: block;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 215px;
          transition: transform .3s;
        }
        .nav_caption {
          background-color: $lawngreen;
          height: 43px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          bottom: -1px;
          width: 100%;
          border-top-left-radius: 20px;
          span {
            transform: translateX(-50%);
            left: 50%;
            position: relative;
            font: normal normal 600 20px/27px Segoe UI;
            text-transform: uppercase;
            color: $nordic;
            transition: font .3s;
          }
        }
        &:hover {
          & > img {
            transform: scale(1.2);
          }
          & > .nav_caption span {
            font: normal normal 700 23px/27px Segoe UI;
          }
        }
      }
    }
  }
}



.menu_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: $nordic;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms, z-index 500ms;
  &.bg {
    opacity: 1;
    z-index: 6;
  }
}

.mobile_menu_active {
  overflow-y: hidden;
  /*.menu-overlay {
    opacity: 1;
    z-index: 10
  }*/
}

.mobile_menu.active.position_right {
  box-shadow: none;
}

@media screen and (max-width: 1150px) {
  .mobile_menu .inner .menu-Navigation .menu_block_wrapper {
    margin-left: 137px;
  }
}

@media screen and (max-width: 1000px) {
  .mobile_menu .inner {
    .menu-Navigation {
      margin-top: 20px;
      .menu_block_wrapper {
        margin-left: 0;
        .nav_left, .nav_right {
          width: 100%;
        }
        .nav_left .mod_navigation {
          li {
            a {
              color: $lawngreen;
            }
            ul.level_2 {
              opacity: 1;
              li {
                margin-bottom: 6px;
                padding-bottom: 6px;
                a {
                  color: white;
                }
                a, strong {
                  line-height: 52px;
                  &:before {
                    top: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .menu_block_wrapper .nav_right {
    .ce_hyperlink {
      .hyperlink_img {
        img {
          height: 150px;
        }
        .nav_caption {
          height: 35px;
          span {
            font: normal normal 600 15px/20px Segoe UI;
          }
        }
      }
    }
  }

  .inner .menu_top {
    height: 230px;
    .menu-close {
      img {
        width: 50px;
      }
    }
  }
}


