@import "variables";

.galery {
  .ce_sliderStart {
    position: relative;
    .content-slider {
      .ce_image {
        img {
          width: 100%;
          height: 950px;
          object-fit: cover;
        }
        .caption-block {
          position: absolute;
          bottom: 0;
          text-align: center;
          left: 50%;
          color: white;
          font: normal normal normal 20px/30px "Exo 2";
          transform: translateX(-50%);
          height: 100px;
          width: 100%;
          background: #002B36;
          opacity: 0.75;
          .caption {
            border-bottom: 4px solid white;
            padding-bottom: 7px;
            max-width: 860px;
            margin: 10px auto;
          }
        }
      }
    }
    .slider-control {
      bottom: 0;
      .slider-prev {
        left: 15%;
      }
      .slider-next{
        right: 15%;
      }
      .slider-prev, .slider-next {
        /*transform: translateY(-25vw);*/
        position: absolute;
        top: -45vh;
        &:hover {
          filter: brightness(0) saturate(100%) invert(73%) sepia(61%) saturate(2380%) hue-rotate(22deg) brightness(104%) contrast(100%)
        }
      }
      .slider-menu {
        transform: translateY(-17px);
        b {
          border: 2px solid white;
          margin: 0 5px;
          &.active {
            background: white;
          }
        }
      }
    }
  }
}

.galery, #slider-headline {
  .slider-control {
    position: absolute;
    width: 100%;
    .slider-prev, .slider-next {
      transition: filter   250ms;
      img {
        width: 85px;
      }
    }
    .slider-menu {
      b {
        cursor: pointer;
        font-size: 0;
        display: inline-table;
        background-color: transparent;
        width: 18px;
        height: 18px;
        margin: 0 5px;
        border-radius: 50%;
      }
    }
  }
}


#katar.galery .ce_sliderStart .slider-control .slider-menu {
  display: none;
}


.slider {
  position: relative;
}

/*#slider-headline .ce_sliderStart {
  .content-slider {
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    top: 45%;
    left: 50%;
  }
}

#slider-headline .ce_sliderStart {
  position: relative;
  background: $lawngreen;
  height: 1280px;
  margin: auto;
  clip-path: $clip-path-contain;
  .ce_image, .kk-slider-element {
    background: transparent;
    clip-path: none;
    position: relative;
    .description {
      color: $nordic;
      padding: 30px;
      position: relative;
      font: normal normal normal 24px/30px "Exo 2";
      max-width: 375px;
      border-radius: 30px;
      border: 6px solid $nordic;
      left: 50%;
      top: 0;
      z-index: 10;
      background: $lawngreen;
      transform: translate(10%, 35%);
      text-align: left;
      opacity: 1;
      &:before, &:after {
        position: absolute;
        content: "";
        width: 100px;
        height: 85px;
        background: $lawngreen url("/files/assets/layout/Pfad 218.svg") no-repeat center/50%;
        box-sizing: border-box;
      }
      &:before {
        left: -50px;
        top: -40px
      }
      &:after {
        right: -50px;
        bottom: -45px;
      }
    }
    img {
      width: 540px;
      height: 420px;
      object-fit: cover;
      position: relative;
      border-radius: 20px;
      opacity: 1;
    }
    .caption {
      color: #002B36;
      position: relative;
      bottom: -5px;
      text-align: center;
      border-bottom: 4px solid #002B36;
      padding-bottom: 10px;
      max-width: 860px;
      margin: 30px auto;
      font: normal normal 400 20px/30px "Exo 2";
    }
  }
  .slider-control {
  .slider-prev {
    left: 5%;
  }
    .slider-next{
      right: 5%;
    }
    .slider-prev, .slider-next {
      top: -270px;
      position: absolute;
      &:hover {
        filter: brightness(0) saturate(100%) invert(90%) sepia(89%);
      }
    }
    .slider-menu {
      top: 180px;
      b {
        border: 2px solid $nordic;;
        margin: 0 5px;
        background: transparent;
        transition: background-color 0.6s ease;
        &.active {
          background: $nordic;
        }
      }
    }
  }
}*/

#kk-slider {
  position: relative;
  background: $lawngreen;
  height: 1280px;
  margin: auto;
  clip-path: $clip-path-contain;
  .kk-content-slider {
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    top: 35%;
    left: 50%;
    .kk-wrapper {
      position: relative;
    }
  }
}

.kk-slider-element {
  position: absolute;
  width: 100%;
  .quote {
    position: absolute;
    transform: translateX(100vw);
    transition: transform 500ms;
    color: $nordic;
    padding: 30px;
    font: normal normal normal 24px/30px "Exo 2";
    max-width: 375px;
    border-radius: 30px;
    border: 6px solid $nordic;
    left: 52%;
    top: -11vh;
    z-index: 10;
    background: $lawngreen;
    text-align: left;
    &:before, &:after {
      position: absolute;
      content: "";
      width: 100px;
      height: 85px;
      background: $lawngreen url("/files/assets/layout/Pfad 218.svg") no-repeat center/50%;
      box-sizing: border-box;
    }
    &:before {
      left: -50px;
      top: -40px
    }
    &:after {
      right: -50px;
      bottom: -45px;
    }
  }
  .image {
    position: relative;
    transform: translateX(-100vw);
    transition: transform 500ms;
    img {
      width: 540px;
      height: 420px;
      object-fit: cover;
      position: relative;
      border-radius: 20px;
      opacity: 1;
    }
  }
  .caption {
    color: #002B36;
    position: relative;
    bottom: -30px;
    text-align: center;
    border-bottom: 4px solid #002B36;
    padding-bottom: 10px;
    max-width: 860px;
    margin: 30px auto;
    font: normal normal 400 20px/30px "Exo 2";
    transform: translateX(100vw);
  }
  &.kk-slider-shown {
    .quote {
      transform: translateX(-0%);

    }
    .image {
      transform: translateX(0);
    }
    .caption {
      transform: translateX(-0%);
      left: 0;
    }
  }
}

.kk-slider-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  .kk-slider-prev, .kk-slider-next {
    position: absolute;
    transition: opacity 250ms;
    &:hover {
      opacity: 0.75;
    }
  }
  .kk-slider-prev {
    left: 5%;
  }
  .kk-slider-next {
    right: 5%;
  }
  .dots {
    position: absolute;
    bottom: -375px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid $nordic;;
    margin: 0 5px;
    background: transparent;
    transition: background-color 0.6s ease;
    &.active {
      background: $nordic;
    }
  }
}

@media screen and (max-width: 1250px) {
  #slider-headline .ce_sliderStart .slider-control .slider-prev,
  #slider-headline .ce_sliderStart .slider-control .slider-next {
    top: -170px;
  }
}

@media screen and (max-width: 860px) {
  .galery .ce_sliderStart {
    .content-slider .ce_image {
      img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
      }
      .caption-block {
        font: normal normal normal 16px/22px "Exo 2";
        .caption {
          border-bottom: 3px solid white;
          max-width: 340px;
        }
      }
    }
    .slider-control {
      .slider-prev, .slider-next {
        /*transform: translateY(-340px);*/
        img {
          width: 50px;
        }
      }
      .slider-menu {
        transform: translateY(-12px);
        b {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  #kk-slider {
    clip-path: polygon(99.861% 99.905%, 0.139% 99.905%, 0.139% 0.036%, 17.561% 0.036%, 17.561% 0.036%, 17.795% 0.037%, 18.026% 0.043%, 18.255% 0.052%, 18.481% 0.066%, 18.702% 0.084%, 18.917% 0.105%, 19.127% 0.131%, 19.33% 0.16%, 19.526% 0.193%, 19.713% 0.23%, 19.713% 0.23%, 19.889% 0.272%, 20.054% 0.317%, 20.208% 0.364%, 20.351% 0.414%, 20.482% 0.465%, 20.601% 0.519%, 20.708% 0.574%, 20.801% 0.631%, 20.882% 0.69%, 20.949% 0.75%, 24.463% 7.865%, 76.165% 7.865%, 79.051% 0.75%, 79.051% 0.75%, 79.118% 0.69%, 79.199% 0.631%, 79.293% 0.574%, 79.399% 0.519%, 79.518% 0.465%, 79.649% 0.414%, 79.792% 0.364%, 79.946% 0.317%, 80.112% 0.272%, 80.288% 0.23%, 80.288% 0.23%, 80.475% 0.193%, 80.67% 0.16%, 80.873% 0.131%, 81.083% 0.105%, 81.299% 0.084%, 81.52% 0.066%, 81.745% 0.052%, 81.974% 0.043%, 82.206% 0.037%, 82.44% 0.036%, 99.863% 0.036%, 99.863% 99.905%, 99.861% 99.905%);
    height: 1200px;
  }
  .kk-slider-element {
    .quote {
      font: normal normal normal 16px/22px "Exo 2";
      max-width: 250px;
      padding: 25px 10px;
    }
    .caption {
      max-width: 340px;
    }
  }
  .kk-slider-controls {
    .kk-slider-prev, .kk-slider-next {
     img {
       width: 50px;
     }
    }
  }

  #slider-headline.work {
    margin: 20px auto;
  }
}

@media screen and (max-width: 450px)  {
 /* #slider-headline .ce_headline {
    max-width: 180px;
    line-height: 28px;
  }*/
  .kk-slider-element {
   .quote {
     left: 13%;
     top: -31%;
   }
  }
}


